<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI SmartRoute</title>


    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">


    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

</head>


<body>


<div class="app">



    <!-- ==========================
         Sidebar
    =========================== -->


    <div class="sidebar">


        <h1>
            🚦 AI SmartRoute
        </h1>


        <p class="subtitle">

            Smart City Navigation Assistant

        </p>




        <!-- Search -->

        <div class="search-box">


            <input

                id="start"

                type="text"

                placeholder="📍 Start location (name or map click)"

            >



            <input

                id="destination"

                type="text"

                placeholder="🏁 Destination (name or map click)"

            >




            <button onclick="buildRoute()">

                🚀 Build Route

            </button>



        </div>







        <!-- Recommendations -->







        <!-- Weather -->


        <div class="weather-card">


            <h2>
                🌦 Weather
            </h2>


            <div id="weather">

                Waiting...

            </div>


        </div>







        <!-- AI -->


        <div class="ai-card">


            <h2>
                🤖 AI Recommendation
            </h2>


            <div id="ai">


                Build a route to receive AI advice.


            </div>


        </div>







        <!-- Routes -->


        <div id="routes">


        </div>



    </div>








    <!-- ==========================
         Map
    =========================== -->


    <div class="map-container">


        <div id="map"></div>


    </div>




</div>






<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>



</body>


</html>
